<div class="header">
  <h1>Clientes</h1>
  <button mat-fab color="primary" aria-label="Adicionar cliente" (click)="openDialog(null)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="table">

  <table mat-table #table [dataSource]="clients" class="mat-elevation-z8">
    <form [formGroup]="formClientes">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="sobrenome">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.sobrenome}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.email}} </td>
      </ng-container>

      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.telefone}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let cliente">
          <button mat-icon-button (click)="updateCliente(cliente)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteCliente(cliente.id)" color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </form>
  </table>
</div>

<!-- <mat-form-field>
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field> -->